<!DOCTYPE html>
<html>
<head>
<title>Associative Array for TOEIC</title>
<link rel='stylesheet' href='./styles/main.css'>
<script src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
<script>
$(function(){

 $('#top').click(function(){
   window.open(
     'http://www.koheishingai.com',
     '_blank'
   );
 });
 $('#wkc').click(function(){
    window.open(
     'http://www.koheishingai.com',
     '_blank'
    );
 });

 var socket = io.connect(':3001');
  socket.on('example', function (data) {
     //console.log(data);
    //socket.emit('on', 'test');
  });

});
</script>
</head>
<body>
<div id='head'>
<div id='right'>
<div id='top'>www.koheishingai.com</div>
</div>
</div>
<div id='header'>
<h1>Associative Array for TOEIC<span>TOEIC文法対策のためのJavaScript連想配列</span></h1>
<p>Associative Array for TOEIC is a place to show and tell, promote, discover, and explore.</p>
</div>
<section id='color1'>
<h1>About<span>Associative Array for TOEICについて</span></h1>
<div id='content'>
<h2>・連想配列は結構です、TOEICの勉強がしたいです！<span class="arrow" style="margin-top: -33px;margin-left: 559px;">→</span><span class='btn1 btn'>こちらへどうぞ</span></h2>
<h2>・TOEICを受ける予定はないのですが... <span class="arrow" style="margin-left: 416px;margin-top: -33px;">→</span><span class='btn2 btn'>こちらへどうぞ</span></h2>
<h2>・そもそもこれは何？ <span class="arrow" style="margin-left: 236px;margin-top: -33px;">→</span><span class='btn3 btn'>こちらへどうぞ</span></h2>
</div>
</section>
<section id='color2'>
<h1>Start Studying TOEIC<span>TOEICの勉強を始める</span></h1>
<div id='content'>
<h2 class='teno'>No. 001</h2>
<h2>The sales manager suggested that more support staff ________ hired.<span class="btn1 btn submits nons">回答をする</span></h2>
</div>
</section>
<section id='color3'>
<h1>Join the Development Team<span>開発チームに参加する</span></h1>
</section>
<section id='color4'>
<h1>What’s All This?<span>一体これは何？</span></h1>
</section>
<section id='footer' class='color5'>
<div id="content">
<h2 class='center footh2'>If you enjoyed this page you might also like:</h2>
<h2 class='center linkh2' id='wkc'>www.koheishingai.com</h2>
</div>
</section>
</body>
</html>