body{
height:100%;
width:100%;
min-height:500px;
margin:0;
overflow-y:auto;
position:absolute;
background:#fff;
font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
font-size:small;
}
#head {
height: 22px;
background: rgba(255, 255, 255, 0.6);
width: 100%;
font-size: 0.69em;
line-height: 2.2;
}

#right{
float: right;
}

*:after, *::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#top {
text-decoration: none;
padding: 0 1em;
letter-spacing: 0.1em;
color: #888;
display: inline-block;
cursor:pointer;
}

#header{
margin: 0 auto;
padding: 2em;
text-align: center;
color: #89867e;
min-height: 200px;
background: rgba(0,0,0,0.05);
}

#header h1, section h1 {
font-size: 2.625em;
line-height: 93px;
margin: 0;
font-weight: 300;
}
#header span{
display: block;
font-size: 60%;
color: #ceccc6;
padding: 0 0 0.6em 0.1em;
line-height: 1px;
}
section span {
display: block;
font-size: 60%;
opacity: 0.35;
line-height: 0px;
margin-top: -10px;
}
#header p{
line-height: 61px;
font-size: 15px;
}
section {
margin: 0 auto;
padding-bottom: 52px;
padding-top: 10px;
text-align: center;
color: white;
}

#color1 {
background:#435a6b;
}

#color2{
background:#0e83cd;
}

#color3{
background:#f19f0f;
}

#color4{
background:#3fa46a;
}

.color5{
background:#cd4436
}

#content {
width: 950px;
margin-left: auto;
margin-right: auto;
text-align: left;
margin-top: 47px;
}

#content h2 {
font-weight: normal;
font-size: 23px;
margin-top: 24px;
}

#content h2 span {
float: right;
opacity: inherit;
line-height: inherit;
}


.btn:hover, .btn:active {
color: #435a6b !important;
background: #fff;
}

.btn {
background: none;
cursor: pointer;
display: inline-block;
text-transform: uppercase;
outline: none;
position: relative;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
padding: 7px 14px 4px 14px;
font-size: 14px !important;
margin-top: -3px !important;
}

.btn1 {
border: 3px solid #fff !important;
color: #fff !important;
}

.btn2 {
border: 3px solid #fff !important;
color: #fff !important;
}

.btn3 {
border: 3px solid #fff !important;
color: #fff !important;
}

.arrow{
position: absolute;
font-weight: normal;
font-size: 23px;
}

.teno{
margin-bottom: -13px;
font-size: 21px !important;
}

.teno2{
margin-bottom: -13px;
font-size: 18px !important;
}

.submits{
padding: 7px 28px 4px 28px;
margin-top: -6px !important;
}

.submits:hover, .submits:active {
color: #0e83cd !important;
}

.nons{
opacity: 0.15 !important;
cursor:default;
}


.nons:hover, .nones:active {
color: #fff !important;
background: none !important;
}

.center{
text-align:center !important;
}


.footh2{
font-size: 21px !important;
}

.linkh2 {
font-weight: 700 !important;
cursor: pointer;
margin-top: 0px !important;
}

.linkh2:hover, .linkh2:active{
color: rgba(0,0,0,0.35);
}

#footer{
padding-top: 139px;
padding-bottom: 207px;
}

#hr {
border-top: 3px dashed rgba(255, 20, 0, 0.25);
margin-top: 39px;
}