body{
height:100%;
width:100%;
min-height:500px;
margin:0;
overflow-y:auto;
position:absolute;
background:#fff;
font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
font-size:small;
}
#head {
height: 22px;
background: rgba(255, 255, 255, 0.6);
width: 100%;
font-size: 0.69em;
line-height: 2.2;
}

#right{
float: right;
}

*:after, *::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#top {
text-decoration: none;
padding: 0 1em;
letter-spacing: 0.1em;
color: #888;
display: inline-block;
cursor:pointer;
}

#header{
margin: 0 auto;
padding: 2em;
text-align: center;
color: #89867e;
min-height: 200px;
background: rgba(0,0,0,0.05);
}

#header h1, section h1 {
font-size: 2.625em;
line-height: 93px;
margin: 0;
font-weight: 300;
}
#header span{
display: block;
font-size: 60%;
color: #ceccc6;
padding: 0 0 0.6em 0.1em;
line-height: 1px;
}
section span {
display: block;
font-size: 60%;
opacity: 0.35;
line-height: 0px;
margin-top: -10px;
}
#header p{
line-height: 61px;
font-size: 15px;
}
section {
margin: 0 auto;
padding-bottom: 52px;
padding-top: 10px;
text-align: center;
color: white;
}

#color1 {
background:#435a6b;
}

#color2{
background:#0e83cd;
}

#color3{
background:#f19f0f;
}

#color4{
background:#3fa46a;
}

.color5{
background:#cd4436
}

#content {
width: 950px;
margin-left: auto;
margin-right: auto;
text-align: left;
margin-top: 47px;
}

#content h2 {
font-weight: normal;
font-size: 23px;
margin-top: 24px;
}

#content h2 span {
float: right;
opacity: inherit;
line-height: inherit;
}


.btn:hover, .btn:active {
color: #435a6b !important;
background: #fff;
}

.btn {
background: none;
cursor: pointer;
display: inline-block;
text-transform: uppercase;
outline: none;
position: relative;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
padding: 7px 14px 4px 14px;
font-size: 14px !important;
margin-top: -3px !important;
}

.btn1 {
border: 3px solid #fff !important;
color: #fff !important;
}

.btn2 {
border: 3px solid #fff !important;
color: #fff !important;
}

.btn3 {
border: 3px solid #fff !important;
color: #fff !important;
}

.arrow{
position: absolute;
font-weight: normal;
font-size: 23px;
}

.teno{
margin-bottom: -13px;
font-size: 21px !important;
}

.teno2{
margin-bottom: -13px;
font-size: 18px !important;
}

.tenob{
margin-bottom: -13px;
font-weight: 900 !important;
font-size: 21px !important;
}

.submits{
padding: 7px 28px 4px 28px;
margin-top: -6px !important;
}

.submits:hover, .submits:active {
color: #0e83cd !important;
}

.submits2:hover, .submits2:active {
color: #f19f0f !important;
}

.nons{
opacity: 0.15 !important;
cursor:default;
}


.nons2 {
cursor: default;
margin-top: -25px !important;
cursor:pointer;
}

.nons:hover, .nones:active {
color: #fff !important;
background: none !important;
}

.center{
text-align:center !important;
}


.footh2{
font-size: 21px !important;
}

.linkh2 {
font-weight: 700 !important;
cursor: pointer;
margin-top: 0px !important;
}

.linkh2:hover, .linkh2:active{
color: rgba(0,0,0,0.35);
}

#footer{
padding-top: 139px;
padding-bottom: 207px;
}

#hr {
border-top: 3px dashed rgba(255, 20, 0, 0.25);
margin-top: 39px;
}

#wkc{
font-weight: normal;
font-size: 23px;
margin-top: 24px;
width: 254px;
margin-left: auto;
margin-right: auto;
}

#login {
position: absolute;
top: 0;
left: 4px;
margin: 27px 0 0 0;
}

.hbtn {
position: relative;
white-space: nowrap;
outline: 0;
text-decoration: none;
cursor: pointer;
overflow: hidden;
text-overflow: ellipsis;
height: 20px;
padding: 0 5px;
line-height: 18px;
-webkit-font-smoothing: antialiased;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition-property: padding;
-moz-transition-property: padding;
-ms-transition-property: padding;
-o-transition-property: padding;
transition-property: padding;
-webkit-transition-duration: .1s;
-moz-transition-duration: .1s;
-ms-transition-duration: .1s;
-o-transition-duration: .1s;
transition-duration: .1s;
-webkit-transition-timing-function: ease;
-moz-transition-timing-function: ease;
-ms-transition-timing-function: ease;
-o-transition-timing-function: ease;
transition-timing-function: ease;
}

.hbtn {
margin: 0 4px 0 0;
}

.hbtn {
margin-bottom: 5px;
color: #fff;
border: 1px solid rgba(0,0,0,0.18);
background: #3e3e3e;
background: rgba(0,0,0,0.38);
text-shadow: 1px 1px 0 rgba(0,0,0,0.08);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.hbtn {
padding-left: 20px;
}


.hbtn {
float: left;
color: #FFF;
border: 1px solid rgba(0, 0, 0, 0);
background: rgba(163, 163, 163, 0.81);
text-shadow: 1px 1px 0 rgba(0,0,0,0.08);
}

#sup:before {
background-size: 12px;
display: block;
content: '';
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 20px;
border-radius: inherit;
background: url(../images/power.png)4px 2px no-repeat;
background-size: 12px;
}

#sup:after {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: '';
-webkit-border-radius: inherit;
-moz-border-radius: inherit;
border-radius: inherit;
}

#lin:before {
background-size: 12px;
display: block;
content: '';
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 20px;
border-radius: inherit;
background: url(../images/lock.png)5px 2px no-repeat;
background-size: 10px;
}

#lin:after {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: '';
-webkit-border-radius: inherit;
-moz-border-radius: inherit;
border-radius: inherit;
}






